## Settings file was created by plugin MorePlayers v1.0.0
## Plugin GUID: com.MorePlayersTeam.MorePlayers

[General]

## The maximum number of players allowed in a lobby.
# Setting type: Int32
# Default value: 8
MaxPlayers = 8

